<!-- this  is the footer -->
  <footer id="footer">
    <div class="footer-section">
      <h3>Coding Resources</h3>
      <ul>
        <li><a href="#">HTML</a></li>
        <li><a href="#">CSS</a></li>
        <li><a href="#">JavaScript</a></li>
        <li><a href="#">Python</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Online Courses</h3>
      <ul>
        <li><a href="#">Web Development</a></li>
        <li><a href="#">Data Science</a></li>
        <li><a href="#">Machine Learning</a></li>
        <li><a href="#">Mobile App Development</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Coding Platforms</h3>
      <ul>
        <li><a href="#">Codecademy</a></li>
        <li><a href="#">FreeCodeCamp</a></li>
        <li><a href="#">edX</a></li>
        <li><a href="#">Coursera</a></li>
      </ul>
    </div>
    <div class="footer-section">
      <h3>Follow Us</h3>
      <ul class="social-links">
        <li><a href="#" target="_blank">Facebook</a></li>
        <li><a href="#" target="_blank">Twitter</a></li>
        <li><a href="#" target="_blank">LinkedIn</a></li>
        <li><a href="#" target="_blank">GitHub</a></li>
      </ul>
    </div>
  </footer>
