<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/footer.css">
    <link rel="stylesheet" href="/css/header.css">
    <script src="https://code.jquery.com/jquery-3.7.0.js" integrity="sha256-JlqSTELeR4TLqP0OG9dxM7yDPqX1ox/HfgiSLBj8+kM=" crossorigin="anonymous"></script>
    <%- style %>
    <title>Document</title>
</head>
<body>
    <div id="layout-body">

        <%- include('header') %>
            <!-- this is the container -->
            <div id="cont">
                <!-- this is a box  -->
            
                <%- body %>
            </div>

        
        
        <%- include('footer') %>
    </div>
</body>
</html>