<!DOCTYPE html>
<html>
<head>
    <title>Sign Up</title>
    <link rel="stylesheet"  href="/css/sign_up.css">
</head>
<body>
    <div class="container">
     
       
        <main>
          <h1>User Profile</h1>
        </main>

        <footer>
            <!-- Your footer content goes here -->
            <p>&copy; 2023 Your Company. All rights reserved.</p>
        </footer>
    </div>
</body>
</html>
