<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet"  href="/css/sign_in.css">
</head>
<body>
    <div class="container">
        <!-- this is sigin form  -->
        <form id="signInForm" action="/user/create-session" method="POST">
            <h2>Login</h2>
            <div class="input-group">
                <label for="username">Email</label>
                <input type="email" id="username" name="email" required>
            </div> 

            <div class="input-group" >
                <label for="password">Password</label>
                <input type="password" id="password" name="password" required>
            </div>

            <button class="button" type="submit">Login</button>
        </form>
    </div> 
    <!-- <script src="/js/sign_in.js"></script> -->
</body>
</html>
