/* css for layout  */
#layout-body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background: linear-gradient( to right, rgb(234, 234, 147), rgb(250, 180, 192));
}
/* this is outer container  */
#cont{

    max-width: 1000px;
    /* height: 100vh; */
    /* width: 100%; */
    width: 100%;
    /* background-color: rgb(72, 71, 71); */
    /* border: 2px solid red; */
    margin: auto;
}